<section class="row">
    <!-- Step Navigation -->
    <div class="step-list col-3 ">
        <div *ngFor="let step of Steps; let i = index" class="step-item m-1 p-1 text-wrap"
            [ngClass]="{ 'active': selectedIndex === i, 'completed': selectedIndex > i }" (click)="onClick(i)">
            <div class="">{{ i + 1 }} </div>
            <div class="step-title">{{ step.name }}</div>
        </div>
    </div>
    <!-- Step Content -->
    <div class="step-content col-9">
        <div *ngIf="steps.length">
            <h3 class="step-title">{{ steps[selectedIndex]?.title }}</h3>
            <div class="step-description">
                <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
            </div>
            <div class="navigation-buttons">
                <button (click)="prevStep()" *ngIf="selectedIndex > 0" class="prev-btn">Previous</button>
                <button (click)="nextStep()" *ngIf="selectedIndex < steps.length - 1" class="next-btn">Next</button>
            </div>
        </div>
    </div>
</section>