<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-header p-2">
                <h4>{{'inspection.CreateTitle' |translate}}</h4>
            </div>
            <div class="card-body">
                <form class="form" [formGroup]="CreateInspectionForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                            <label>{{'inspection.package' |translate}}</label>
                            <ng-select formControlName="packageId"
                                [ngClass]="{'is-invalid':(f['packageId'].touched || submitted )&& f['packageId'].errors}">
                                @for (package of packages; track package.id) {
                                <ng-option [value]="package.id">{{lang=='ar'?package.nameAr:package.nameEn}}</ng-option>
                                }
                            </ng-select>

                            @if((f['packageId'].touched || submitted )&& f['packageId'].errors){
                            <span class="invalid-feedback">{{'form.fieldRequired' |translate}}</span>
                            }
                        </div>
                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                            <label>{{'inspection.name' |translate}}</label>
                            <input type="text" class="form-control" formControlName="name"
                                [ngClass]="{'is-invalid':(f['name'].touched || submitted )&& f['name'].errors}">
                            @if((f['name'].touched || submitted) && f['name'].errors){
                            <span class="invalid-feedback">{{'form.fieldRequired' |translate}}</span>
                            }
                        </div>
                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                            <label>{{'inspection.phoneNumber' |translate}}</label>
                            <input type="text" class="form-control" formControlName="phoneNumber"
                                [ngClass]="{'is-invalid':(f['phoneNumber'].touched || submitted )&& f['phoneNumber'].errors}">
                            @if((f['phoneNumber'].touched || submitted) && f['phoneNumber'].errors){
                            <span class="invalid-feedback">{{'form.fieldRequired' |translate}}</span>
                            }
                        </div>
                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                            <label>{{'inspection.email' |translate}}</label>
                            <input type="text" class="form-control" formControlName="email"
                                [ngClass]="{'is-invalid':(f['email'].touched || submitted )&& f['email'].errors}">
                            @if((f['email'].touched || submitted )&& f['email'].errors){
                            <span class="invalid-feedback">{{'form.fieldRequired' |translate}}</span>
                            }
                        </div>

                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                            <label>{{'inspection.plateLetters' |translate}}</label>
                            <input type="text" class="form-control" formControlName="letters"
                                [ngClass]="{'is-invalid':(f['letters'].touched || submitted )&& f['letters'].errors}">
                            @if((f['letters'].touched || submitted )&& f['letters'].errors){
                            <span class="invalid-feedback">{{'form.letters' |translate}}</span>
                            }

                        </div>
                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                            <label>{{'inspection.plateNumber' |translate}}</label>
                            <input type="text" class="form-control" formControlName="numbers"
                                [ngClass]="{'is-invalid':(f['numbers'].touched || submitted )&& f['numbers'].errors}">
                            @if((f['numbers'].touched || submitted )&& f['numbers'].errors){
                            <span class="invalid-feedback">{{'form.numbers' |translate}}</span>
                            }

                        </div>
                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                            <label>{{'inspection.vINNumber' |translate}}</label>
                            <input type="text" class="form-control" formControlName="vINNumber"
                                [ngClass]="{'is-invalid':(f['vINNumber'].touched || submitted )&& f['vINNumber'].errors}">
                            @if((f['vINNumber'].touched || submitted )&& f['vINNumber'].errors){
                            <span class="invalid-feedback">{{'form.fieldRequired' |translate}}</span>
                            }
                        </div>
                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                            <label>{{'inspection.make' |translate}}</label>
                            <div class="input-group mb-3">
                                <ng-select formControlName="makeId" class="flex-grow-1"  (change)="changeMake()" 
                                    [ngClass]="{'is-invalid':(f['makeId'].touched || submitted )&& f['makeId'].errors}">
                                    @for (make of makes; track make.id) {
                                    <ng-option [value]="make.id">{{lang=='ar'?make.nameAr:make.nameEn}}</ng-option>
                                    }
                                </ng-select>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary p-1" type="button"
                                        (click)="CreateMakevisible=true"><i class="bi bi-plus"></i></button>
                                </div>
                            </div>
                            @if((f['makeId'].touched || submitted )&& f['makeId'].errors){
                            <span class="invalid-feedback">{{'form.fieldRequired' |translate}}</span>
                            }
                        </div>
                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                            <label>{{'inspection.model' |translate}}</label>
                            <div class="input-group mb-3">
                                <ng-select formControlName="modelId" class="flex-grow-1"
                                    [ngClass]="{'is-invalid':(f['modelId'].touched || submitted )&& f['modelId'].errors}">
                                    @for (model of getModels; track model.id) {
                                    <ng-option [value]="model.id">{{lang=='ar'?model.nameAr:model.nameEn}}</ng-option>
                                    }
                                </ng-select>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary p-1" type="button"
                                        (click)="CreateModelvisible=true"><i class="bi bi-plus"></i></button>
                                </div>
                            </div>
                            @if((f['modelId'].touched || submitted )&& f['modelId'].errors){
                            <span class="invalid-feedback">{{'form.fieldRequired' |translate}}</span>
                            }
                        </div>
                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                            <label>{{'inspection.color' |translate}}</label>
                            <input type="text" class="form-control" formControlName="color"
                                [ngClass]="{'is-invalid':(f['color'].touched || submitted )&& f['color'].errors}">
                            @if((f['color'].touched || submitted )&& f['color'].errors){
                            <span class="invalid-feedback">{{'form.fieldRequired' |translate}}</span>
                            }
                        </div>
                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                            <label>{{'inspection.year' |translate}}</label>
                            <input type="number" class="form-control" formControlName="year"
                                [ngClass]="{'is-invalid':(f['year'].touched || submitted )&& f['year'].errors}">
                            @if((f['year'].touched || submitted )&& f['year'].errors){
                            <span class="invalid-feedback">{{'form.fieldRequired' |translate}}</span>
                            }
                        </div>
                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                            <label>{{'inspection.odometer' |translate}}</label>
                            <input type="number" class="form-control" formControlName="odometer"
                                [ngClass]="{'is-invalid':(f['odometer'].touched || submitted )&& f['year'].errors}">
                            @if((f['odometer'].touched || submitted )&& f['odometer'].errors){
                            <span class="invalid-feedback">{{'form.fieldRequired' |translate}}</span>
                            }
                        </div>
                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                            <label>{{'inspection.note' |translate}}</label>
                            <textarea class="form-control" formControlName="note"
                                [ngClass]="{'is-invalid':(f['note'].touched || submitted )&& f['note'].errors}">
                            </textarea>
                            @if((f['note'].touched || submitted )&& f['note'].errors){
                            <span class="invalid-feedback">{{'form.fieldRequired' |translate}}</span>
                            }
                        </div>
                    </div>
                    <div class="form-group d-flex justify-content-end">
                        <button type="submit" [disabled]="CreateInspectionForm.invalid"
                            class="btn btn-success">{{'form.save' | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<ng-template #footerFromTemplate>
    <hr class="my-0" />
    <ngb-timepicker [(ngModel)]="time" [seconds]="true" [meridian]="true" />
</ng-template>
<p-dialog [modal]="true" [(visible)]="CreateModelvisible" [style]="{ width: '25rem' }">
    <ng-template #headless>
        <app-create-model [lang]="lang" (OnSave)="onModelCreated($event)" [dialog]="true"></app-create-model>
    </ng-template>
</p-dialog>
<p-dialog [modal]="true" [(visible)]="CreateMakevisible" [style]="{ width: '25rem' }">
    <ng-template #headless>
        <app-create-make [lang]="lang" (OnSave)="onMakeCreated($event)" [dialog]="true"></app-create-make>
    </ng-template>
</p-dialog>