<ul class="list-unstyled">
  <li class="dropdown pc-h-item" ngbDropdown>
    <a class="pc-head-link dropdown-toggle arrow-none me-0 bg-gray-200" data-bs-toggle="dropdown" ngbDropdownToggle>
      <i antIcon type="bell" theme="outline"></i>
      <span class="badge bg-primary pc-h-badge">0</span>
    </a>
   
  </li>
  <li  class="pc-h-item  dropdown" ngbDropdown>
    <a  class="pc-head-link dropdown-toggle arrow-none me-0 bg-gray-200" data-bs-toggle="dropdown" ngbDropdownToggle>
      <i antIcon type="translation" theme="outline"></i>
    </a>
  
    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end pc-h-dropdown" data-popper-placement="bottom-start">
      <a class="dropdown-item" (click)="changeLanguge('ar')"><span> العربية <small>(AR)</small></span></a>
      <a class="dropdown-item" (click)="changeLanguge('en')"><span> English <small>(US)</small></span></a>
    </div>
  </li>
  <li class="dropdown pc-h-item header-user-profile" ngbDropdown>
    <a class="pc-head-link dropdown-toggle arrow-none me-0" ngbDropdownToggle>
      <img src="assets/images/user/avatar-2.jpg" alt="user-image" class="user-avatar me-2" />
      <span class="f-w-600">{{_authService.getDecodedToken().fullName}}</span>
    </a>
    <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
      <div class="dropdown-header">
        <div class="d-flex mb-1">
          <div class="flex-shrink-0">
            <img src="assets/images/user/avatar-2.jpg" alt="user-image" class="user-avatar wid-35" />
          </div>
          <div class="flex-grow-1 ms-3 text-start">
            <span>{{_authService.getDecodedToken().fullName}}</span>
          </div>
          <a class="bg-transparent"><i class="d-flex f-20" antIcon theme="outline" type="logout"></i></a>
        </div>
      </div>
      <ul ngbNav #nav="ngbNav" class="nav drp-tabs nav-fill nav-tabs">
        <li ngbNavItem="1">
          <a ngbNavLink>
            <i antIcon theme="outline" type="user" class="me-2"></i>
            Profile
          </a>
          <ng-template ngbNavContent>
            @for (task of profile; track task) {
              <div>
                <a class="dropdown-item">
                  <i class="text-muted" antIcon theme="outline" type="{{ task.icon }}"></i>
                  <span>{{ task.title }}</span>
                </a>
              </div>
            }
            <div>
              <a class="dropdown-item" (click)="logout()">
                <i class="text-muted" antIcon theme="outline" type="logout"></i>
                <span>Logout</span>
              </a>
            </div>
          </ng-template>
        </li>
        <li ngbNavItem="2">
          <a ngbNavLink>
            <i class="me-2" antIcon theme="outline" type="setting"></i>
            Setting
          </a>
          <ng-template ngbNavContent>
            @for (task of setting; track task) {
              <div>
                <a class="dropdown-item">
                  <i class="text-muted" antIcon theme="outline" type="{{ task.icon }}"></i>
                  <span>{{ task.title }}</span>
                </a>
              </div>
            }
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </li>
</ul>
