<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-header p-2">
                <h4>{{'technician.CreateTitle' |translate}}</h4>
            </div>
            <div class="card-body">
                <form class="form" [formGroup]="EditTechnicianForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>{{'form.nameAr' |translate}}</label>
                        <input type="text" class="form-control" formControlName="nameAr"
                            [ngClass]="{'is-invalid':(f['nameAr'].touched || submitted )&& f['nameAr'].errors}">
                        @if((f['nameAr'].touched || submitted) && f['nameAr'].errors){
                        <span class="invalid-feedback">{{'form.fieldRequired' |translate}}</span>
                        }
                    </div>
                    <div class="form-group">
                        <label>{{'form.nameEn' |translate}}</label>
                        <input type="text" class="form-control" formControlName="nameEn"
                            [ngClass]="{'is-invalid':(f['nameEn'].touched || submitted )&& f['nameEn'].errors}">
                        @if((f['nameEn'].touched || submitted )&& f['nameEn'].errors){
                        <span class="invalid-feedback">{{'form.fieldRequired' |translate}}</span>
                        }
                    </div>
                    <div class="form-group">
                        <label>{{'technician.category' |translate}}</label>
                        <ng-select formControlName="categoryId"
                            [ngClass]="{'is-invalid':(f['categoryId'].touched || submitted )&& f['categoryId'].errors}">
                            @for (category of categories; track category.id) {
                            <ng-option [value]="category.id">{{lang==='ar' ? category.nameAr :category.nameEn}}</ng-option>
                            }
                        </ng-select>
                        @if((f['categoryId'].touched || submitted )&& f['categoryId'].errors){
                        <span class="invalid-feedback">{{'form.fieldRequired' |translate}}</span>
                        }
                    </div>
                    <div class="form-group">
                        <label>{{'technician.user' |translate}}</label>
                        <ng-select formControlName="userId"
                            [ngClass]="{'is-invalid':(f['userId'].touched || submitted )&& f['userId'].errors}">
                            @for (user of users; track user.id) {
                            <ng-option [value]="user.id">{{user.nameAr}}</ng-option>
                            }
                        </ng-select>
                        @if((f['userId'].touched || submitted )&& f['userId'].errors){
                        <span class="invalid-feedback">{{'form.fieldRequired' |translate}}</span>
                        }
                    </div>
                    <div class="form-group">
                        <button type="submit" [disabled]="EditTechnicianForm.invalid" class="btn btn-success">{{'form.save'
                            | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>