<p-card>
  <ng-template #header>
    <div class="d-flex flex-wrap gap-4">
      <div class="d-flex  items-center">
        <p-radiobutton name="annotationMode" value="text" [(ngModel)]="annotationMode" inputId="annotationMode1" />
           <label for="ingredient2" class="ml-2">Text</label>
      </div>
      <div class="d-flex  items-center">
        <p-radiobutton name="annotationMode" value="x-mark" [(ngModel)]="annotationMode" inputId="annotationMode2" />
        <label for="ingredient3" class="ml-2">X</label>
      </div>
      <div class="d-flex  items-center">
        <p-button styleClass="p-0" severity="secondary" rounded text (click)="undoMarker()"
         [disabled]="markers.length === 0" label="Undo" />
      </div>
  </div>
  </ng-template>
  <div class="image-container" (click)="onImageClick($event)">
    <img #imageElement [src]="imageUrl" alt="Car Image"  width="650px" height="500px"/>
    <div *ngFor="let marker of markers" class="marker" [ngStyle]="{ top: marker.y + '%', left: marker.x + '%' }">
      {{ marker.text }}
    </div>
  </div>
  <canvas #canvasElement style="display: none;"></canvas>
</p-card>

<p-popover #op >
  <input id="annotationText" type="text" [(ngModel)]="userInput" pInputText autofocus />
  <p-button (onClick)="confirmAnnotation(op)">X</p-button>
</p-popover>