<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-header p-2">
                <h4>{{'package.CreateTitle' |translate}}</h4>
            </div>
            <div class="card-body">
                <form class="form" [formGroup]="CreatePackageForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>{{'form.nameAr' |translate}}</label>
                        <input type="text" class="form-control" formControlName="nameAr"
                            [ngClass]="{'is-invalid':(f['nameAr'].touched || submitted )&& f['nameAr'].errors}">
                        @if((f['nameAr'].touched || submitted) && f['nameAr'].errors){
                        <span class="invalid-feedback">{{'form.fieldRequired' |translate}}</span>
                        }
                    </div>
                    <div class="form-group">
                        <label>{{'form.nameEn' |translate}}</label>
                        <input type="text" class="form-control" formControlName="nameEn"
                            [ngClass]="{'is-invalid':(f['nameEn'].touched || submitted )&& f['nameEn'].errors}">
                        @if((f['nameEn'].touched || submitted )&& f['nameEn'].errors){
                        <span class="invalid-feedback">{{'form.fieldRequired' |translate}}</span>
                        }
                    </div>
                    <div class="form-group">
                        <label>{{'form.description' |translate}}</label>
                        <input type="text" class="form-control" formControlName="description"
                            [ngClass]="{'is-invalid':(f['description'].touched || submitted )&& f['description'].errors}">
                        @if((f['description'].touched || submitted )&& f['description'].errors){
                        <span class="invalid-feedback">{{'form.fieldRequired' |translate}}</span>
                        }
                    </div>
                    <div class="form-group">
                        <p-table [value]="checkPoints" [scrollable]="true" selectionMode="multiple"
                            [(selection)]="selectedcheckPoints" [rowsPerPageOptions]="[10, 25, 50]" scrollHeight="400px"
                            styleClass="p-datatable-sm p-datatable-striped" rowGroupMode="subheader"
                            groupRowsBy="categoryId" [tableStyle]="{'min-width': '60rem'}">
                            <ng-template #header>
                                <tr>
                                    <td colspan="2">
                                        <label class="custom-p-checkbox">
                                            <input 
                                            type="checkbox"
                                            class="checkbox-input"
                                            [indeterminate]="isAllIndeterminate"
                                            [checked]="isAllSelected"
                                            (change)="selectAll($event)"
                                            />
                                            <span class="custom-checkbox"></span>
                                            <span class="custom-label">{{'form.checkList' |translate}}    </span>
                                          </label>
                                       
                                                                                
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template #groupheader let-checkPoint let-expanded="expanded" let-rowIndex="rowIndex">
                                <tr>
                                    <td colspan="2">
                                        <div class="flex items-center gap-2">
                                            <label class="custom-p-checkbox">
                                                <input 
                                                type="checkbox"
                                                class="checkbox-input"
                                                inputId="selectCategory"
                                                [indeterminate]="isCategoryIndeterminate(checkPoint.categoryId)"
                                                [checked]="checkedSelectGroup(checkPoint.categoryId)"
                                                (change)="selectCategory(checkPoint.categoryId,$event)"
                                                />
                                                <span class="custom-checkbox"></span>
                                              
                                              </label>
                                         
                                            <button type="button" class="mr-2 btn" [pRowToggler]="checkPoint">
                                                <i class="f-16" antIcon
                                                    type="{{ expanded ? 'down' : lang==='ar'? 'right':'left' }}"
                                                    theme="outline"></i>
                                            </button>
                                            <span class="p-text-bold p-ml-2">{{lang==='ar' ? checkPoint.categoryAr
                                                :checkPoint.categoryEn}}</span>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template #expandedrow let-checkPoint let-rowIndex="rowIndex">
                                <tr [pSelectableRow]="checkPoint.id" [pSelectableRowIndex]="rowIndex">
                                    <td></td>
                                    <td>
                                        <p-tableCheckbox [value]="checkPoint.id" />
                                        {{lang==='ar' ? checkPoint.nameAr :checkPoint.nameEn }}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        @if((f['checkList'].touched || submitted )&& f['checkList'].errors){
                        <span class="invalid-feedback">{{'form.fieldRequired' |translate}}</span>
                        }
                    </div>               
                    <div class="form-group">
                        <button type="submit" [disabled]="CreatePackageForm.invalid"
                            class="btn btn-success">{{'form.save' | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>