<div class="container">
    <div class="row">
        <div class="card tbl-card">
            <div class="card-header p-2">
                <div class="row">
                    <div class="col-md-6">
                        <h4>{{'inspection.ListTitle' | translate}}</h4>
                    </div>
                    <div class="col-md-6 d-flex justify-content-end">
                        <button class="btn btn-success my-auto mx-1"  [routerLink]="['/inspection/create']" >
                            {{'tableList.create' | translate}}
                        </button>
                        <button class="btn btn-success my-auto mx-1"  (click)="isAccordionToggled=!isAccordionToggled" >
                            {{'tableList.filter' | translate}}
                        </button>
                    </div>
                </div>
                <div class="row  mb-1" style="transition: all .9s ease-in-out; overflow: hidden;"
                [ngStyle]="{'max-height': (isAccordionToggled) ? '800px' : '0px' , 'overflow': (isAccordionToggled) ? 'unset' : 'hidden' } ">
                    <p-panel   appendTo="body" [(collapsed)]="visibleFilters">
                        <div class="row">
                            <div class="form-group col-lg-3 col-md-4 col-sm-12">
                                <label>{{'inspection.name' |translate}}</label>
                                <input type="text" class="form-control" [(ngModel)]="filter.Name">
                            </div>
                            <div class="form-group col-lg-3 col-md-4 col-sm-12">
                                <label>{{'inspection.phoneNumber' |translate}}</label>
                                <input type="text" class="form-control" [(ngModel)]="filter.PhoneNumber">
                            </div>
                            <div class="form-group col-lg-3 col-md-4 col-sm-12">
                                <label>{{'inspection.plateNumber' |translate}}</label>
                                <input type="text" class="form-control" [(ngModel)]="filter.PlateNumber">
                            </div>
                            <div class="form-group col-lg-3 col-md-4 col-sm-12">
                                <label>{{'tableList.dateFrom' |translate}}</label>
                                <p-datepicker styleClass="w-100" showIcon iconDisplay="input" [(ngModel)]="filter.From" [showTime]="true"/>
                            </div>
                            <div class="form-group col-lg-3 col-md-4 col-sm-12">
                                <label>{{'tableList.dateTo' |translate}}</label>
                                
                                <p-datepicker  styleClass="w-100" showIcon iconDisplay="input" [(ngModel)]="filter.To" [showTime]="true"/>
                            </div>
                            <div class="form-group col-lg-3 col-md-4 col-sm-12 my-auto">
                                <button class="btn btn-success my-auto mx-1"  (click)="updatePagedData()" >
                                    {{'tableList.filter' | translate}}
                                </button>
                            </div>
                        </div>
                    </p-panel>
                </div>
            </div>
            <p-table [value]="pagedData" 
    [paginator]="true"
    [totalRecords]="totalPages"
    [rows]="10"
    [rowHover]="true"
    [scrollable]="true"
    [lazy]="true"
     scrollHeight="400px"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="{{'tableList.currentPageReportTemplate'| translate }}" (onPage)="changePage($event)"
    [rowsPerPageOptions]="[10, 25, 50]">
    <ng-template #header>
        <tr>
            <th>#</th>
            <th> {{'inspection.inspectionDate' | translate}}</th>
            <th> {{'inspection.package' | translate}}</th>
            <th> {{'inspection.name' | translate}}</th>
            <th> {{'inspection.phoneNumber' | translate}}</th>
            <th> {{'inspection.plateNumber' | translate}}</th>
            <th> {{'inspection.status' | translate}}</th>
            <th> {{'inspection.make' | translate}}</th>
            <th> {{'inspection.model' | translate}}</th>
            <th> {{'inspection.color' | translate}}</th>
            <th> {{'inspection.year' | translate}}</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template #body let-item>
        <tr  (dblclick)="details(item.id)">
            <td>{{ item.id }}</td>
            <td>{{ item.inspectionDate |date: lang=='ar'? 'hh:mm:ss  dd-MM-yyy':'dd-MM-yyy  hh:mm:ss' }}</td>
            <td>{{lang=='ar'? item.packageAr:item.packageEn }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.phoneNumber }}</td>
            <td>{{ item.plateNumber }}</td>
            <td>
                <p-tag [value]="lang=='ar'?InspectionStatusOptionData[item.status]?.nameAr:InspectionStatusOptionData[item.status]?.nameEn"
                [style.background-color]='InspectionStatusOptionData[item.status]?.color' [style]="{'color': '#fff'}"/>
            </td>
            <td>{{lang=='ar'? item.makeAr : item.makeEn}}</td>
            <td>{{lang=='ar'? item.modelAr : item.modelEn }}</td>
            <td>{{ item.color }}</td>
            <td>{{ item.year }}</td>
            <td>
                
                <i (click)="details(item.id)" class="px-3" style="font-size: large; color:#10b981;" antIcon [type]="'eye'" theme="outline"></i>
            </td>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td colspan="5" style="text-align: center">{{'tableList.noDataFound' |translate}}</td>
          </tr>
    </ng-template>
           </p-table>
        </div>
    </div>
</div>