<div class="card">
    <p-galleria #galleria [value]="images" [(activeIndex)]="activeIndex" [numVisible]="5" [showThumbnails]="showThumbnails" [showItemNavigators]="true" [showItemNavigatorsOnHover]="true" [circular]="true" [autoPlay]="true" [transitionInterval]="3000" [containerStyle]="{ 'max-width': '640px' }" [containerClass]="galleriaClass()">
        <ng-template #item let-item>
            <img [src]="item" [ngStyle]="{ width: !fullscreen ? '100%' : '', display: !fullscreen ? 'block' : '' }" />
        </ng-template>
        <ng-template #thumbnail let-item>
            <div class="grid gap-4 justify-center">
                <img [src]="item" style="display: block; width: 6em; height: 6em;" />
            </div>
        </ng-template>
        <ng-template #footer let-item>
            <div class="custom-galleria-footer">
                <button type="button"  (click)="onThumbnailButtonClick()">
                    <i style="font-size: large;" antIcon type="unordered-list" theme="outline"></i>
                </button>
                <span *ngIf="images" class="title-container">
                    <span>{{ activeIndex + 1 }}/{{ images.length }}</span>
                </span>
                <button type="button" pButton [icon]="fullScreenIcon()" (click)="toggleFullScreen()" class="fullscreen-button">
                    <i style="font-size: large;" antIcon [type]="fullScreenIcon()" theme="outline"></i>
                </button>
            </div>
        </ng-template>
    </p-galleria>