<div class="container">
    <div class="row">
        <div class="card tbl-card">
            <div class="card-header p-2">
                <div class="row">
                    <div class="col-md-6">
                        <h4>{{'model.ListTitle' | translate}}</h4>
                    </div>
                    <div class="col-md-6 d-flex justify-content-end">
                        <button [routerLink]="['/model/create']" type="button" class="btn btn-success">
                            <i style="font-size: large;" antIcon type="plus" theme="outline"></i>
                            {{'tableList.create' | translate}}</button>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>{{'form.nameAr' | translate }}</th>
                                <th>{{'form.nameEn' | translate }}</th>
                                <th> <i style="font-size: large;" antIcon type="setting" theme="outline"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (item of pagedData; track $index) {
                            <tr (dblclick)="Edit(item.id)">
                                <td>{{ item.id }}</td>
                                <td>{{ item.nameAr }}</td>
                                <td>{{ item.nameEn }}</td>
                                <td>
                                    <i (click)="Edit(item.id)" style="font-size: large; color:#0d6efd; margin: 0 1rem;" antIcon type="edit" theme="outline"></i>
                                    <i (click)="delete(item)" style="font-size: large; color: brown; margin: 0 1rem;" antIcon type="delete" theme="outline"></i>
                                </td>
                            </tr>
                            }
                            <tr>
                                <td colspan="4">
                                    <ngb-pagination [collectionSize]="totalPages"
                                     [(page)]="filter.PageNumber" 
                                     [pageSize]="filter.PageSize"
                                     (pageChange)="changePage($event)" [rotate]="true" [ellipses]="false"
                                      [boundaryLinks]="true" />
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>