<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-header p-2 d-flex justify-content-between">
                <h4>{{'model.CreateTitle' |translate}}</h4>
                @if(dialog){
                <i (click)="OnClose.emit(true)" style="font-size: large; margin: 0 1rem; " antIcon type="close"
                    theme="outline"></i>
                }
            </div>
            <div class="card-body">
                <form class="form" [formGroup]="CreateModelForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>{{'form.nameAr' |translate}}</label>
                        <input type="text" class="form-control" formControlName="nameAr"
                            [ngClass]="{'is-invalid':(f['nameAr'].touched || submitted )&& f['nameAr'].errors}">
                        @if((f['nameAr'].touched || submitted) && f['nameAr'].errors){
                        <span class="invalid-feedback">{{'form.fieldRequired' |translate}}</span>
                        }
                    </div>
                    <div class="form-group">
                        <label>{{'form.nameEn' |translate}}</label>
                        <input type="text" class="form-control" formControlName="nameEn"
                            [ngClass]="{'is-invalid':(f['nameEn'].touched || submitted )&& f['nameEn'].errors}">
                        @if((f['nameEn'].touched || submitted )&& f['nameEn'].errors){
                        <span class="invalid-feedback">{{'form.fieldRequired' |translate}}</span>
                        }
                    </div>
                    <div class="form-group ">
                        <label>{{'inspection.make' |translate}}</label>
                        <div class="input-group mb-3">
                            <ng-select formControlName="makeId" class="flex-grow-1"
                                [ngClass]="{'is-invalid':(f['makeId'].touched || submitted )&& f['makeId'].errors}">
                                @for (make of makes; track make.id) {
                                <ng-option [value]="make.id">{{lang=='ar'?make.nameAr:make.nameEn}}</ng-option>
                                }
                            </ng-select>
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary p-1" type="button"
                                    (click)="CreateMakevisible=true"><i class="bi bi-plus"></i></button>
                            </div>
                        </div>
                        @if((f['makeId'].touched || submitted )&& f['makeId'].errors){
                        <span class="invalid-feedback">{{'form.fieldRequired' |translate}}</span>
                        }
                    </div>
                    <div class="form-group">
                        <label id="type">{{'inspection.type' |translate}}</label>
                        <ng-select formControlName="type">
                            @for (item of modelTypeList; track $index) {
                            <ng-option [value]="item.id">{{lang==='ar' ? item['nameAr'] :item['name']}}</ng-option>
                            }
                        </ng-select>
                        @if((f['type'].touched || submitted )&& f['type'].errors){
                        <span class="invalid-feedback">{{'form.fieldRequired' |translate}}</span>
                        }
                    </div>
                    <div class="form-group">
                        <button type="submit" [disabled]="CreateModelForm.invalid" class="btn btn-success">{{'form.save'
                            | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<p-dialog [modal]="true" [(visible)]="CreateMakevisible" [style]="{ width: '25rem' }">
    <ng-template #headless>
        <app-create-make [lang]="lang" (OnSave)="onMakeCreated($event)" [dialog]="true"
            (OnClose)="CreateMakevisible=false"></app-create-make>
    </ng-template>
</p-dialog>