#report-container{
  width: 210mm;
  min-height: 297mm;
  padding: 3mm;
  margin: 1cm auto;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  font-size: 10px ;
}
#report-container *{
  font-size: 10px ;
}

#report-container h1,h2,h3,h4,h5,h6{
  font-size: 15px !important;

}
.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
}

.grid-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size:  95%;
  height: 450px;
  flex: 1 1 calc(50% - 5px); /* Two columns by default */
}


/* Different aspect ratios */
.grid-item:nth-child(1) { 
  grid-column: span 2 / span 2;
  grid-row: span 6 / span 6;
  height:calc(8px + 20rem);
}
.grid-item:nth-child(2) { 
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 6;
  grid-row-start: 1;
  height: 10rem;
 }
.grid-item:nth-child(3) { 
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
  grid-column-start: 3;
  grid-row-start: 1;
  height: 10rem;
 }
.grid-item:nth-child(4) { 
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
  grid-column-start: 3;
  grid-row-start: 4;
  height: 10rem;
}
/* Fifth item takes full width */
.grid-item:nth-child(5) {
  grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 6;
    grid-row-start: 4;
    height: 10rem;
}
.report-header {
  border-bottom: 3px solid #2c3e50;
  padding: 20px 0;
  margin-bottom: 30px;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  max-height: 60px;
}

.company-text h2 {
  margin: 0;
  color: #2c3e50;
  font-size: 20px;
}

.company-text p {
  margin: 5px 0 0;
  color: #7f8c8d;
  font-size: 14px;
}

.report-info {
  text-align: right;
}

.report-title {
  color: #2c3e50;
  margin: 0;
  font-size: 20px;
}

.report-date {
  color: #7f8c8d;
  margin: 10px 0 0;
  font-size: 14px;
}
.warning-circle {
  border-radius: 50%;
  border: 1px solid #ffc107;
  color: #ffc107;
  font-size: 15px !important;
  width: 22px;
  height: 22px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px !important;
}
/* === For screen responsiveness === */
@media screen and (max-width: 768px) {
  #report-container {
    width: 100%;
    min-height: auto;
    padding: 15px;
    box-shadow: none;
  }
}

/* === Print-specific styling === */
@media print {
  body, html {
    margin: 0;
    padding: 0;
    background: none;
  }

  .report-a4 {
    margin: 0;
    box-shadow: none;
    page-break-after: always;
  }
}