
.image-container {
  position: relative;
  width: 100%;
  height: 200px; /* Fixed height for the image */
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image fits the container */
}

.badge {
  font-size: 0.9rem;
  padding: 0.5rem;

  color: white  ;
  background-color: #007bff; /* Bootstrap primary color */
}

.comment {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7); /* Dark background for readability */
  color: white;
}
