

/* @font-face {
  font-family: 'cairo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('../cairo/Cairo-Regular.ttf') format('ttf'),
    url('../cairo/Cairo-Regular.ttf') format('ttf');
}
/* cairo-regular - latin */



@font-face {
  font-family: 'Cairo';
  src: url('../cairo/cairo-v28-latin-regular.woff2') format('woff2'),
       url('../cairo/cairo-v28-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}