

/* @font-face {
  font-family: 'cairo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('../cairo/Cairo-Regular.ttf') format('ttf'),
    url('../cairo/Cairo-Regular.ttf') format('ttf');
}
/* cairo-regular - latin */


