<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-header p-2 d-flex justify-content-between">
                <h4>{{'make.CreateTitle' |translate}}</h4>
                @if(dialog){
                <i (click)="OnClose.emit(true)" style="font-size: large; margin: 0 1rem; " antIcon type="close"
                    theme="outline"></i>
                }
            </div>
            <div class="card-body">
                <form class="form" [formGroup]="CreateMakeForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>{{'form.nameAr' |translate}}</label>
                        <input type="text" class="form-control" formControlName="nameAr"
                        [ngClass]="{'is-invalid':(f['nameAr'].touched || submitted )&& f['nameAr'].errors}">
                        @if((f['nameAr'].touched || submitted) && f['nameAr'].errors){
                            <span  class="invalid-feedback">{{'form.fieldRequired' |translate}}</span>
                        }
                    </div>
                    <div class="form-group">
                        <label>{{'form.nameEn' |translate}}</label>
                        <input type="text" class="form-control" formControlName="nameEn" 
                        [ngClass]="{'is-invalid':(f['nameEn'].touched || submitted )&& f['nameEn'].errors}">
                        @if((f['nameEn'].touched || submitted )&& f['nameEn'].errors){
                            <span  class="invalid-feedback">{{'form.fieldRequired' |translate}}</span>
                        }
                    </div>
                    <div class="form-group">
                        <input type="file" (change)="onFileSelected($event)" accept="image/*"
                        [ngClass]="{'is-invalid':(f['logo'].touched || submitted )&& f['logo'].errors}">
                        <img *ngIf="f['logo'].value" [src]="f['logo'].value" alt="Uploaded Image" width="200">
                        
                        @if((f['logo'].touched || submitted )&& f['logo'].errors){
                            <span  class="invalid-feedback">{{'form.fieldRequired' |translate}}</span>
                        }
                    </div>
                    <div class="form-group">
                        <button type="submit" [disabled]="CreateMakeForm.invalid" class="btn btn-success">{{'form.save' | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>