<div class="container">
    <div class="row">
        <div class="card tbl-card">
            <div class="card-header p-2">
                <div class="row">
                    <div class="col-md-6">
                        <h4>{{'package.ListTitle' | translate}}</h4>
                    </div>
                    <div class="col-md-6 d-flex justify-content-end">
                        <button [routerLink]="['/package/create']" type="button" class="btn btn-success">{{'tableList.create' | translate}}</button>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <p-table [value]="pagedData" 
                [paginator]="true"
                [totalRecords]="totalPages"
                [rows]="10"
                [rowHover]="true"
                [scrollable]="true"
                [lazy]="true"
                 scrollHeight="400px"
                [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="{{'tableList.currentPageReportTemplate'| translate }}" (onPage)="changePage($event)"
                [rowsPerPageOptions]="[10, 25, 50]">
                    <ng-template #header>
                        <tr>
                            <th>#</th>
                            <th>{{'form.nameAr' | translate }}</th>
                            <th>{{'form.nameEn' | translate }}</th>
                            <th>{{'form.description' | translate }}</th>
                            <th> 
                                <i style="font-size: large;" antIcon type="setting" theme="outline"></i>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-item>
                        <tr (dblclick)="Edit(item.id)">
                            <td>{{ item.id }}</td>
                            <td>{{ item.nameAr }}</td>
                            <td>{{ item.nameEn }}</td>
                            <td>{{ item.description }}</td>
                            <td>
                                <i (click)="Edit(item.id)" style="font-size: large; color:#0d6efd; margin: 0 1rem;" antIcon type="edit"
                                    theme="outline"></i>
                                <i (click)="delete(item)" style="font-size: large; color: brown; margin: 0 1rem;" antIcon type="delete"
                                    theme="outline"></i>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template #paginatorleft>
                        <p-button type="button" icon="pi pi-plus" text />
                    </ng-template>
                    <ng-template #paginatorright>
                        <p-button type="button" icon="pi pi-cloud" text />
                    </ng-template>
                </p-table>
              
            </div>
        </div>
    </div>
</div>