<div class="row">

    @for (analytic of AnalyticEcommerce; track analytic) {
      <div class="col-md-6 col-xl-3">
        <app-card [showHeader]="false" blockClass="card-body d-flex align-items-center" cardClass="card-border {{analytic.background }}  card-radius" [padding]="15">
          <span class="sale-icon bg-white text-primary"><i class="bi {{analytic.icon}} me-1 fs-3"></i></span>
          <div class="mx-2">
            <h5 class=" mb-1">{{analytic.title |translate}}</h5>
          </div>
          <div class="mx-2">
            <h3 class="">{{analytic.amount}}</h3>
          </div>
        </app-card>
      </div>
    } 
    <!-- //RecentInspections -->
    <div class="col-md-12 col-xl-8">
      <h5 class="mb-3">{{'dashboard.RecentInspections'|translate}}</h5>
      <div class="card tbl-card">
        <div class="table-responsive">
          <table class="table table-hover mb-0">
            <thead>
              <tr>
                <th>#</th>
                <th>{{'dashboard.recentInspection.name'|translate}}</th>
                <th>{{'dashboard.recentInspection.plateNumber'|translate}}</th>
                <th>{{'dashboard.recentInspection.inspectionDate'|translate}}</th>
                <th class="text-end">{{'dashboard.recentInspection.status'|translate}}</th>
                <th class="text-end">{{'dashboard.recentInspection.package'|translate}}</th>
              </tr>
            </thead>
            <tbody>
              @for (order of dashboardQuery.inspectionSummaryData; track order) {
                <tr (dblclick)="openInspectionDetails(order.inspectionID)">
                  <td>
                    <a href="javascript:" class="text-muted">{{ order.inspectionID }}</a>
                  </td>
                  <td>{{ order.customerName }}</td>
                  <td>
                    <span class="d-block">
                      <i class="badge-circle {{ order.plateNumber }} f-10 m-r-5"></i>
                      {{ order.status }}
                    </span>
                  </td>
                  <td class="text-end">{{ order.inspectionDate|date }}</td>
                  <td class="text-end">
                    <p-tag [value]="lang=='ar'?InspectionStatusOptionData[order.status]?.nameAr:InspectionStatusOptionData[order.status]?.nameEn"
                    [style.background-color]='InspectionStatusOptionData[order.status]?.color' [style]="{'color': '#fff'}"/>
                  </td>
                  <td class="text-end">{{lang=='ar'? order.packageNameAr :order.packageNameEn}}</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-xl-4">
      @if(pieSeries.length > 0 && pieSeries[0] != undefined) {
        <app-pie-chart [labels]="pieLabels" [colors]="pieColors" [series]="pieSeries"/>
      }
    </div>
    <div class="col-md-12 col-xl-8">
      <app-monthly-bar-chart [data]="barChartData"/>
    </div>
    <!-- [ sample-page ] end -->
  </div>
  