<div class="d-flex align-items-center justify-content-between mb-3">
  <h5 class="mb-0">{{title}}</h5>
</div>
<div class="card">
  <div class="card-body">
    <div id="chart">
      @if(data?.length>0){
        <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [dataLabels]="chartOptions.dataLabels"
        [xaxis]="chartOptions.xaxis"
        [colors]="chartOptions.colors"
        [stroke]="chartOptions.stroke"
        [yaxis]="chartOptions.yaxis"
        [grid]="chartOptions.grid"
        [theme]="chartOptions.theme"
      ></apx-chart>
      }
    </div>
  </div>
</div>
